<div style="padding: 5% 0;">


<div class="contact-card">
<h3>LinkedIn</h3>
 <a href="https://www.linkedin.com/in/hamdaan-khalid-a6698b149/">Hamdaan Khalid</a>
</div>

<div class="contact-card">
<h3>
Github
</h3>
<a href="https://github.com/hamdaankhalid">hamdaankhalid</a>
</div>

<div class="contact-card">
<h3>
Email
</h3>
<a href="mailto: khalid.hamdaan@gmail.com">khalid.hamdaan@gmail.com</a>
</div>

</div>