<h1>
Thank you for subscribing!
</h1>

<p>
You will be notified when new articles are published here => <%= @url %>
</p>

<div>
<strong>
If you believe this to be a mistake or would like to unsubscribe please reply to this email asking to do so.
</strong>
</div>

<div>
Regards,<br>
Hamdaan Khalid<br>
Keyboard clicker clacker
</div>