<h1>
Here's a new engineering article I published that you might enjoy :)
</h1>

<p>
<a href="<%= @url %>">Click here to read the article => <%= @article.title %></a>
</p>

<div>
<strong>
If you believe this to be a mistake or would like to unsubscribe please reply to this email asking to do so.
</strong>
</div>

<div>
Regards,<br>
Hamdaan Khalid<br>
Keyboard clicker clacker
</div>