<% content_for :title do %>
  Real Time Geo Query
<% end %>

<div>
  Share this url with those you wish to track live:
  <%= link_to @url_for_queriables, "#{@url_for_queriables}" %>
</div>

<div>
  Visit this url to track those you shared the link with live: 
  <%= link_to @url_for_querier, "#{@url_for_querier}" %>
</div>
