<% content_for :title do %>
  Real Time Geo Query
<% end %>

<div>
  Here the user will be assigned an identifier, they can share a url with the identifier attached as identifier
  with other people and the user can then query these poeple in real time.
</div>
