<% content_for :title do %>
  Querier Panel
<% end %>

<div>
  Here a querier puts in radius in miles, and their current location, and begins real time queries.
  If the input changes the queries are also changed acordingly and straming continues, till user explictly
  stops streaming.
</div>