<% content_for :title do %>
  Queriables
<% end %>

<div>
  Here a queriable can choose to start and stop their tracking.

  <div>
    <div>
      <h3> Latitude </h3>
      <p id='latitude'></p>
    </div>
    <div>
      <h3> Longitude </h4>
      <p id='longitude'></p>
    </div>

    <button id="trackingSwitch">
    Start Tracking
    </button>
  </div>
</div>