<h1>Editing Internal Linkedin Scheduler</h1>

<%= render 'form', internal_linkedin_scheduler: @internal_linkedin_scheduler %>

<%= link_to 'Show', @internal_linkedin_scheduler %> |
<%= link_to 'Back', internal_linkedin_schedulers_path %>
