<% content_for :title do %>
    About Me
<% end %>

<h2>About Me</h2>

<div>
    Quotes that inspire me:
    <ul>
        <li>“If you're not progressing, you're regressing; so, keep moving forward.” - Elon Musk</li>
        <li>“Nothing is worth doing pointlessly.” - Marcus Aurelius</li>
        <li>“Learn obessessively and impatiently” - Unknown</li>
    </ul>
</div>

<div>
    I am a 23 year old software engineer with a background in mathematics. I enjoy dabbling in statistics, data science and distributed systems.
    I enjoy working out, and anything/everything outdoors ( seriously I will hike, run, play basketball, kayak.... pretty much whatever when I have time ),
    as well as reading technical books in my free time.
    My goal is to be an absolute unit of an engineer, and I hope to use this website as a way to document my journey.
</div>

<div style="margin-top: 25px;">
    I currently work at Microsoft Azure, and outside of work I have a plethora of repositories I regularly push code to on my github. Although I enjoy programming in various languages
    I am primarily like to code in C++ and Golang.
</div>

<div class="images">
    <%= image_tag "me.jpg", :class => "responsive-image" %>
    <%= image_tag "spark.jpg", :class => "responsive-image" %>
</div>