<% content_for :title do %>
    About Me
<% end %>

<h1>About Me</h1>

<div>
    Quotes that inspire me:
    <ul>
        <li>“If you're not progressing, you're regressing; so, keep moving forward.” - Elon Musk</li>
        <li>“Nothing is worth doing pointlessly.” - Marcus Aurelius</li>
        <li>“Learn obessessively and impatiently” - Unknown</li>
    </ul>
</div>

<div>
    I am a 22 year old professional keyboard clicker clacker ( a term stolen by Devin Riegle ) software engineer. If I wasn't a software engineer, I'd be figuring out how to be one.
    I have a background in mathematics, and I am passionate about solving problems... preferably the one's that techincally challenge me.<br>
    I enjoy working out, anything and everything outdoors ( seriously I will hike, run, play basketball, kayak.... pretty much whatever when I have time ), as well as reading technical books in my free time.
    My goal is to be an absolute unit of an engineer, and I hope to use this website as a way to document my journey.
</div>

<div style="margin-top: 25px;">
    At work I take high ownership and like to believe my contributions are key in success and failure alike. I believe that
    success is intentional, and I need to make effort every single day in the direction of getting better. 
    I contribute ideas to any team I join, and thrive on a tight feedback loop. An idea that is not challenged to perfection
    is usually one which won't be sturdy, which is why I value constructive criticism on all my work.
    I aspire to make a positive impact on every codebase, project, and company I create or work for.
</div>

<div class="images">
    <%= image_tag "me.jpg", :class => "responsive-image" %>
    <%= image_tag "spark.jpg", :class => "responsive-image" %>
</div>