<% content_for :title do %>
  @experience.organization
<% end %>

<p id="notice"><%= notice %></p>

<div class="container-fluid">
    <pre class="preformatted">
            <%= @experience %>
    </pre>
</div>

<%= link_to "Back", experiences_path %>
