/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .contact-card {
   margin: 2% 0;
}

.images {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: auto; margin-left: auto; width: 95%;
}

.responsive-image {
  height: 250px;
  width: 250px;
}

.message-room {
  height: 45vh;
  margin-right: auto; margin-left: auto; width: 95%;
  overflow: scroll;
}

.message {
  margin-top: 15px;
  margin-bottom: 15px;
}

.submit-message {
  margin-top: 5px;
  margin-right: auto; margin-left: auto; width: 70%;
}

.projects {
  margin: 50px;
}

.project {
  background-color: rgb(231, 224, 224);
  margin: 20px;
  padding: 5px;
}

.project-title {
  font-weight: bold;
}

.project-description {
  /* white-space: pre-line; */
}
