<% content_for :title do %>
  Chat Room
<% end %>

<h2>
Chat Room (real-time)
</h2>

<div id="messages" class="message-room">
  <% @messages.each do |message|%>
      <%= render "chat_room/message", message: message %>
  <% end %>
</div>

<div class="submit-message">
  <form id="send_message">
    <input type="text" id="message" name="message" placeholder="message" required>
    <input type="text" id="author" name="author" placeholder="author" required>
    <br>
    <button id="chat-submit">Send</button>
  </form>
</div>
